<div class="header-outs" id="header">
   <div class="header-w3layouts">
      <!--//navigation section -->
      <nav class="navbar navbar-expand-lg navbar-light">
         <div class="hedder-up">
             <h1><a class="navbar-brand" href="index.html">Jeweler</a></h1>
         </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ">
               <li class="nav-item">
                  <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
               </li>
               <li class="nav-item">
                  <a routerLink="/service" routerLinkActive="active" class="nav-link">Service</a>
               </li>
               <li class="nav-item ">
                  
                     <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                    
               </li>
            </ul>
            <div class="sing-up-jel ">
               <button type="button" class="btn btn-primary" (click)="open()" data-target="#exampleModal">
               Sign In
               </button>
            </div>
         </div>
      </nav>
      <div class="clearfix"> </div>
   </div>
</div>
<div class="inner_page-banner">
      </div>
