<h2>Edit Product</h2>
<form [formGroup] = "productForm" action="" role="form" method="post">
    <div class="form-group">
      <label for="">Product Name</label>
      <input type="text" class="form-control" name="name"  formControlName="name">
      <label *ngIf="productName" class="text-danger"> {{productName}}</label>
    </div>
    <div class="form-group">
      <label for="">Price</label>
      <input type="number" class="form-control" name="price" formControlName="price" >
      <label *ngIf="productPrice" class="text-danger"> {{productPrice}}</label>
    </div>
    <div class="form-group">
      <label for="">Desc</label>
      <input type="type" class="form-control" name="desc" formControlName="desc">
      <label *ngIf="productDesc" class="text-danger"> {{productDesc}}</label>
    </div>
    <div class="form-group">
<img [src]="url" height="200"> <br/>
    <!-- <img [src]="reader.result" height="200"> -->
    <!-- <input type="type"  name="img" [(ngModel)]="product.img" /> -->
    <input type='file'  (change)="onSelectFile($event)" (change)="saveImg($event)" formControlName="img">
    <label *ngIf="productImg" class="text-danger"> {{productImg}}</label>
    </div>
    
    <br/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"  (click)="edit()">Edit</button>
                    </div>
                    
                </form>
 
