 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">Product Manger</h1>

 <div class="form-group form-inline">
  Full text search <input class="form-control border-0 small ml-2" type="text"  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search ...">
</div>
 <!-- DataTales Example -->
 <div class="card shadow mb-4">
   
   <div class="card-body"> 
     <div class="table-responsive">
       <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
         <thead>
           <tr>
             <th>ID</th>
             <th>Name</th>
             <th>Price</th>
             <th>Desc</th>
             <th>Img</th>
             <th colspan="3">Action</th>
           </tr>
         </thead>
        
         <tbody>
           <tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:searchText">
<th scope="row"><ngb-highlight [result]="product.id" [term]="searchText"></ngb-highlight></th>
<td><ngb-highlight [result]="product.name" [term]="searchText"></ngb-highlight></td>
<td><ngb-highlight [result]="product.price" [term]="searchText"></ngb-highlight></td>
<td><ngb-highlight [result]="product.desc" [term]="searchText"></ngb-highlight></td>
<td><img [src]="product.img" width="150px"/></td>
<td>
  <button class="btn btn2 btn-info" routerLink="/product/{{product.id}}">Detail</button>
</td>
<td><button class="btn btn2 btn-primary" routerLink="/admin/product/edit/{{product.id}}">Edit</button></td>

<td>
<button class="btn btn2 btn-warning" (click)="removeItem(product.id)">Delete</button></td>
</tr>
         </tbody>
       </table>
       <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="3">3 items per page</option>
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="9">9 items per page</option>
        </select>
     </div>
   </div>
 </div>

